
<br>
<div class="card">
    <div class="card-header">
        <h4>
            Agregar Post
        </h4>
    </div>
    <div class="card-body">
        <form ngNativeValidate [formGroup]="formPostAdd" (ngSubmit)="sendData()">
            <div class="mb-3">
                <label for="" class="form-label">Title</label>
                <input required type="text" class="form-control" name="" formControlName="title" id="" aria-describedby="helpId"
                    placeholder="Escribe un titulo">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Body</label>
                <input required type="text" class="form-control" name="" formControlName="body" id=""
                    aria-describedby="emailHelpId" placeholder="Escribe un body">

            </div>

            <div class="btn-group" role="group" aria-label="Button group name">
                <button type="submit" class="btn btn-success">Agregar</button>
                <button type="button" routerLink="/list-employee" class="btn btn-primary">Cancelar</button>
            </div>
        </form>
    </div>
    
</div>