<br>
<div class="card">
    <div class="card-header">
        <h4>
            {{ globalTexts.list_of_posts }}
        </h4>

    </div>
    <div class="card-header">
        <button class="btn btn-success" (click)="openModal()"> {{ globalTexts.add_post }} </button>
        <app-modal>

        </app-modal>


    </div>
    <div *ngIf="loading" class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%">
            <h6>
                {{ globalTexts.Charging }}
            </h6>


        </div>
    </div>

    <div class="card-body">

        <div class="table-responsive">

         
            <table class="table">

                <thead>
                    <tr>
                        <th scope="col">{{ globalTexts.Id }}</th>
                        <th scope="col">{{ globalTexts.Title }}</th>
                        <th scope="col">{{ globalTexts.Body }}</th>
                        <th scope="col">{{ globalTexts.Action }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let posts of post | slice: (page-1) * pageSize:(page-1) * pageSize + pageSize; let iControl=index ">


                        <td scope="row">{{posts.id}}</td>
                        <td scope="row">{{posts.title}}</td>
                        <td scope="row">{{posts.body}}</td>
                        <td>
                            <div class="row-cell">
                                <button routerLink="/edit-employee/{{posts.id}}" class="btn btn-sm btn-info"> Editar
                                </button> 
                                <button (click)="deleteEmployee(posts.id, iControl)" class="btn btn-sm btn-danger">{{
                                    globalTexts.Delete }}</button>
                            </div>
                    </tr>

                </tbody>
            </table>
            <ngb-pagination  class="d-flex justify-content-center" [collectionSize]="post.length" [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>
        </div>


    </div>

</div>