<br>
<div class="card">
    <div class="card-header">
        <h4>
            {{ globalTexts.Edit_Post }}
        </h4>
    </div>
    <div class="card-body">
        <form  ngNativeValidate [formGroup]="formPostEdit" (ngSubmit)="sendDataEdit()">
            <div class="mb-3">
                <label for="" class="form-label">{{ globalTexts.Title }}</label>
                <input required type="text" class="form-control" formControlName="title" name="" id="" aria-describedby="helpId"
                    placeholder="Escribe un Titulo">

            </div>
            <div class="mb-3">
                <label for="" class="form-label">{{ globalTexts.Body }}</label>
                <input required type="text" class="form-control" formControlName="body" name="" id="" aria-describedby="emailHelpId"
                    placeholder="Escribe un Body">

            </div>

            <div class="btn-group" role="group" aria-label="Button group name">
                <div class="row-cell">
                    <button type="submit" class="btn btn-success">{{ globalTexts.Edit }}</button>
                    <button type="button" routerLink="/list-employee" class="btn btn-primary">{{ globalTexts.Cancel }}</button>
                </div>
                
                
            </div>
        </form>
    </div>
    <div class="card-footer text-muted">
        Prueba Tecnica
    </div>
</div>